.addUser {
    background-color:rgba(240, 248, 255, 0.505) ;
    width: 25% ;
    margin: 50px auto;
    padding: 40px;
    border-radius: 5px;
    
    box-shadow: 1px 1px 8px rgba(0,0,0,0.065);
}

.adduserform .input{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.adduserform .input label{
    margin-top: 5px ;
}

.adduserform .input input{
    margin-bottom: 5px ;
    padding: 10px ;
}

.addUser .input button{
    margin-top: 20px;
}

.addUser h3{
    margin-top: 30px ;
    text-align: center;
    font-weight: bold;
    color: rgb(109, 0, 0);
    text-transform: uppercase;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.065);

}

